table {
    width: 100%;
}

.container-center {
    margin-top: 50px;
    padding: 50px;
    overflow: hidden;
}

th {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'bahnschrift';
}

.btn-style {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-header {
    margin: 10px;
    padding: 10px
}

h1 {
    font-family: 'bahnschrift';
    font-size: 25px;
    color: blue;
}